.parallax-img {
  position: relative;
  width: 25rem;
  top: -7.8rem;
}

.balls-img {
  position: relative;
  width: 31rem;
  top: 1.2rem;
}

/* Mobil (640px ve altı) */
@media (max-width: 640px) {
  .parallax-img {
    left: -4rem;
    width: 15rem;
    top: -3.8rem;
  }
  .balls-img {
    left: -4rem;
    width: 20rem;
    top: 0.6rem;
  }
}

/* Tablet (641px ila 1024px arası) */
@media (min-width: 641px) and (max-width: 1024px) {
  .parallax-img {
    left: -6rem;
    width: 20rem;
    top: -5rem;
  }
  .balls-img {
    left: -6rem;
    width: 25rem;
    top: 0.8rem;
  }
}

/* Masaüstü (1025px ve üzeri) */
@media (min-width: 1025px) {
  .parallax-img {
    left: -12rem;
    width: 25rem;
    top: -7.8rem;
  }
  .balls-img {
    left: -8rem;
    width: 31rem;
    top: 1.2rem;
  }
}