.phone {
  background: url('../public/sosioimg/phone.webp') bottom no-repeat;
  background-size: contain;
  height: 450px;
  position: relative;
  width: 500px;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.phoneScreen {
  background: url('../public/sosioimg/dream.webp') center no-repeat;
  background-size: cover;
  height: 89.3%;
  width: 24%;
  z-index: 2;
}
.auto-margin {
  margin: auto;
}